body{
    background-color: hsl(226, 43%, 10%);
    color: white;
    
    
}
.container{
    font-family: rubik;
    font-weight: 100;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.item1{
    display: grid;
    grid-column: 1 /span 1;
    grid-row: 1 /span 2;
    background-color: hsl(235, 46%, 20%) ;
    border-radius: 20px ;
    /* padding: 20px; */
}
.jeremy{
    background-color: hsl(246, 80%, 60%);
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}
.jeremy3{
    padding: 20px;
    margin-top: 20px;
}
.jeremy img{
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;
}
.item2{
    display: grid;
    grid-template-columns: 2 /span 1;
    grid-template-rows: 1 /span 1;
    background-color: hsl(15, 100%, 70%);
    border-radius: 20px ;
}
.item3{
    display: grid;
    grid-template-columns: 3 /span 1;
    grid-template-rows: 1 /span 1;
    background-color:hsl(195, 74%, 62%);
    border-radius: 20px ;
}
.item4{
    display: grid;
    grid-template-columns: 4 /span 1;
    grid-template-rows: 1 /span 1;
    background-color:hsl(348, 100%, 68%);  
    border-radius: 20px ;
}
.item5{
    display: grid;
    grid-template-columns: 1 /span 1;
    grid-template-rows: 2 /span 1;
    background-color:hsl(145, 58%, 55%);
    border-radius: 20px ;
}
.item6{
   display: grid;
    grid-template-columns: 1 /span 1;
    grid-template-rows: 2 /span 1;
    background-color:hsl(264, 64%, 52%);
    border-radius: 20px ;

}
.item7{
    display: grid;
    grid-template-columns: 1 /span 1;
    grid-template-rows: 1 /span 1;
    background-color:hsl(43, 84%, 65%);
    border-radius: 20px ;
}
.card{
    background-color: hsl(235, 46%, 20%);
    padding: 20px;
    border-radius: 20px;
}
.card-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-1 img{
    height: 5px;
    margin-top: 25px;
}
.item2 img{
    margin-left: 200px;
}
.item3 img{
    margin-left: 200px;
}
.item4 img{
    margin-left: 200px;
}
.item5 img{
    margin-left: 200px;
}.item6 img{
    margin-left: 200px;
}
.item7 img{
    margin-left: 200px;
}